@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

*{
  font-family: "Outfit", sans-serif;
}

@theme{
  --color-primary: #E6CCFF;
}
::-webkit-scrollbar{
  display: none;
}

/* Scrollbar visible para chats recientes */
.custom-scrollbar::-webkit-scrollbar {
  display: block;
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(128, 96, 159, 0.4);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 96, 159, 0.6);
}

/* Para Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(128, 96, 159, 0.4) transparent;
}
